.faq .css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: #fff;
}
.faq .Mui-expanded.MuiAccordionSummary-expandIconWrapper svg {
  fill: #fff;
}
.faq .defultheading {
  margin-bottom: 15px;
}
.faq .Mui-expanded.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: #081f55;
  color: #fff;
}
.faq .MuiAccordion-root {
  margin: 15px 0;
}
.faq .css-1fjvggn-MuiPaper-root-MuiAccordion-root:not(:last-child) {
  border-bottom:1px solid rgba(0, 0, 0, 0.12);
}
